.gradient {
    background: radial-gradient(circle at 10% 20%, rgb(253, 239, 132) 0%, rgb(247, 198, 169) 54.2%, rgb(21, 186, 196) 100.3%) !important;
}
header {
    width: max-content;
}
.classWithPad {
    margin:0px; padding:32px;
    width: 100%;
}
.first-color { 
	background: #e0ffcd; 
}
	
.second-color { 
	background: #fdffcd; 
}

.third-color { 
	background: #ffebbb; 
}

.fourth-color { 
	background: #ffcab0; 
}
.card {
    font-size: xx-small;
    min-width: 100px;
    max-width: 100%;
}
.card-title {
    font-size: x-small;
}
.figure-caption {
    color: aqua;
    font-size: xx-large;
    font: small-caption;
}